-e git+https://github.com/rohe/pyoidc.git@85514e6400a62e812d7dea968eba3738983312da#egg=oic
pbr>=1.6
basicauth==0.3
pecan==1.0.3
mock==1.3.0
mockldap==0.2.5
httmock==1.2.3
SQLAlchemy==1.0.8
nose==1.3.7
PyMySQL==0.7.11
requests
sphinx==1.3.1
stevedore>=1.7.0
wsgiref==0.1.2
WebOb>=1.7.0,<1.8.0
PyYAML>=3.1.0
