oic==0.9.4
pbr>=1.6
basicauth==0.4.1
pecan==1.0.3
SQLAlchemy==1.0.8
nose==1.3.7
pycrypto==2.6.1
PyMySQL==0.7.11
requests
sphinx==1.3.1
stevedore<3.4.0
WebOb>=1.7.0,<1.8.0
PyYAML>=3.1.0
python-ldap==3.4.0
